# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# Uploaded Resumes
uploads/*.pdf

# Model Cache
*.h5
*.keras

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary Files
*.tmp
